workflow1-lead-capture-blueprint.json.json
{
    "name": "Integration Webhooks, Airtable",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 3052934,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -328,
                    "y": 12
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "AI Lead webhook"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "airtable:ActionCreateRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 7476232
            },
            "mapper": {
                "base": "app8YZTl5LBCORHJl",
                "table": "tblwa2xWvXRHfS55A",
                "record": {
                    "fldC0BJMkDstCv9Di": "{{1.data.fields[4].options[].text}}",
                    "fldE96QAh0Ie24LvW": "{{1.data.fields[2].value}}",
                    "fldQDXKn3JbE0Qi6j": "{{1.data.fields[6].value}}",
                    "fldmOvwY2ieS0ehhD": "{{now}}",
                    "fldpcHHc3x1J9siuz": "New",
                    "fldsfGdWtenynWzLN": "{{1.data.fields[3].value}}",
                    "fldtUuf4Af9iW00lC": "{{1.data.fields[5].options[].text}}",
                    "fldygKODxI3OWG1kt": "{{1.data.fields[1].value}}"
                },
                "typecast": false,
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": -28,
                    "y": 12
                },
                "restore": {
                    "expect": {
                        "base": {
                            "label": "Lead CRM"
                        },
                        "table": {
                            "label": "Leads",
                            "nested": [
                                {
                                    "name": "record",
                                    "spec": [
                                        {
                                            "name": "fldygKODxI3OWG1kt",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "fldE96QAh0Ie24LvW",
                                            "type": "text",
                                            "label": "Email"
                                        },
                                        {
                                            "name": "fldsfGdWtenynWzLN",
                                            "type": "text",
                                            "label": "Company"
                                        },
                                        {
                                            "name": "fldC0BJMkDstCv9Di",
                                            "type": "text",
                                            "label": "Company Size"
                                        },
                                        {
                                            "name": "fldtUuf4Af9iW00lC",
                                            "type": "text",
                                            "label": "Industry"
                                        },
                                        {
                                            "name": "fldQDXKn3JbE0Qi6j",
                                            "type": "text",
                                            "label": "Message",
                                            "multiline": true
                                        },
                                        {
                                            "name": "fldJnrt4jomi9ukc4",
                                            "type": "number",
                                            "label": "Lead Score"
                                        },
                                        {
                                            "mode": "edit",
                                            "name": "fldpcHHc3x1J9siuz",
                                            "type": "select",
                                            "label": "Status",
                                            "dynamic": true,
                                            "options": [
                                                {
                                                    "label": "New",
                                                    "value": "New"
                                                },
                                                {
                                                    "label": "Contacted",
                                                    "value": "Contacted"
                                                },
                                                {
                                                    "label": "Qualified",
                                                    "value": "Qualified"
                                                },
                                                {
                                                    "label": "Not Qualified",
                                                    "value": "Not Qualified"
                                                },
                                                {
                                                    "label": "Closed",
                                                    "value": "Closed"
                                                }
                                            ],
                                            "validate": false
                                        },
                                        {
                                            "name": "fldmOvwY2ieS0ehhD",
                                            "time": false,
                                            "type": "date",
                                            "label": "Submission Date"
                                        },
                                        {
                                            "name": "fldGgp2IQ2cddauBU",
                                            "type": "boolean",
                                            "label": "AI Reply Sent"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Record"
                                }
                            ]
                        },
                        "record": {
                            "nested": {
                                "fldGgp2IQ2cddauBU": {
                                    "mode": "chose"
                                },
                                "fldpcHHc3x1J9siuz": {
                                    "mode": "edit"
                                }
                            }
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "AI Lead Connection (User ID: usrhdPn6cEJRLdRMW)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fldygKODxI3OWG1kt",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "fldE96QAh0Ie24LvW",
                                "type": "text",
                                "label": "Email"
                            },
                            {
                                "name": "fldsfGdWtenynWzLN",
                                "type": "text",
                                "label": "Company"
                            },
                            {
                                "name": "fldC0BJMkDstCv9Di",
                                "type": "text",
                                "label": "Company Size"
                            },
                            {
                                "name": "fldtUuf4Af9iW00lC",
                                "type": "text",
                                "label": "Industry"
                            },
                            {
                                "name": "fldQDXKn3JbE0Qi6j",
                                "type": "text",
                                "label": "Message"
                            },
                            {
                                "name": "fldJnrt4jomi9ukc4",
                                "type": "number",
                                "label": "Lead Score"
                            },
                            {
                                "mode": "edit",
                                "name": "fldpcHHc3x1J9siuz",
                                "type": "select",
                                "label": "Status"
                            },
                            {
                                "name": "fldmOvwY2ieS0ehhD",
                                "time": false,
                                "type": "date",
                                "label": "Submission Date"
                            },
                            {
                                "name": "fldGgp2IQ2cddauBU",
                                "type": "boolean",
                                "label": "AI Reply Sent"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Name",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "Email",
                        "type": "text",
                        "label": "Email"
                    },
                    {
                        "name": "Company",
                        "type": "text",
                        "label": "Company"
                    },
                    {
                        "name": "Company Size",
                        "type": "text",
                        "label": "Company Size"
                    },
                    {
                        "name": "Industry",
                        "type": "text",
                        "label": "Industry"
                    },
                    {
                        "name": "Message",
                        "type": "text",
                        "label": "Message",
                        "multiline": true
                    },
                    {
                        "name": "Lead Score",
                        "type": "number",
                        "label": "Lead Score"
                    },
                    {
                        "name": "Status",
                        "type": "text",
                        "label": "Status"
                    },
                    {
                        "name": "Submission Date",
                        "time": false,
                        "type": "date",
                        "label": "Submission Date"
                    },
                    {
                        "name": "AI Reply Sent",
                        "type": "boolean",
                        "label": "AI Reply Sent"
                    }
                ]
            },
            "onerror": [
                {
                    "id": 13,
                    "module": "slack:CreateMessage",
                    "version": 4,
                    "parameters": {
                        "__IMTCONN__": 7478649
                    },
                    "mapper": {
                        "text": "⚠️ ERROR — Airtable Create Record Failed\r\nModule: Airtable Create Record\r\nError: {{error.message}}\r\nTime: {{now}}\r\nAction: Lead record was NOT created. Check Airtable connection.",
                        "parse": false,
                        "mrkdwn": true,
                        "channel": "C0B56CQ8916",
                        "channelType": "private",
                        "channelWType": "list"
                    },
                    "metadata": {
                        "designer": {
                            "x": 272,
                            "y": 162
                        },
                        "restore": {
                            "expect": {
                                "parse": {
                                    "mode": "chose"
                                },
                                "mrkdwn": {
                                    "mode": "chose"
                                },
                                "channel": {
                                    "mode": "chose",
                                    "label": "errors"
                                },
                                "link_names": {
                                    "mode": "chose"
                                },
                                "channelType": {
                                    "label": "Private channel"
                                },
                                "channelWType": {
                                    "label": "Select from the list"
                                },
                                "unfurl_links": {
                                    "mode": "chose"
                                },
                                "unfurl_media": {
                                    "mode": "chose"
                                },
                                "reply_broadcast": {
                                    "mode": "chose"
                                }
                            },
                            "parameters": {
                                "__IMTCONN__": {
                                    "data": {
                                        "scoped": "true",
                                        "connection": "slack2"
                                    },
                                    "label": "Slack AI Lead (leadsworkspacetalk.slack.com - burhanaslam944)"
                                }
                            }
                        },
                        "parameters": [
                            {
                                "name": "__IMTCONN__",
                                "type": "account:slack2,slack3",
                                "label": "Connection",
                                "required": true
                            }
                        ],
                        "expect": [
                            {
                                "name": "channelWType",
                                "type": "select",
                                "label": "Enter a channel ID or name",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "manualy",
                                        "list"
                                    ]
                                }
                            },
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            },
                            {
                                "name": "blocks",
                                "type": "text",
                                "label": "Blocks"
                            },
                            {
                                "name": "thread_ts",
                                "type": "text",
                                "label": "Thread message ID (time stamp)"
                            },
                            {
                                "name": "reply_broadcast",
                                "type": "boolean",
                                "label": "Reply broadcast"
                            },
                            {
                                "name": "link_names",
                                "type": "boolean",
                                "label": "Link names"
                            },
                            {
                                "name": "parse",
                                "type": "boolean",
                                "label": "Parse message text"
                            },
                            {
                                "name": "mrkdwn",
                                "type": "boolean",
                                "label": "Use markdown"
                            },
                            {
                                "name": "unfurl_links",
                                "type": "boolean",
                                "label": "Unfurl primarily text-based content"
                            },
                            {
                                "name": "unfurl_media",
                                "type": "boolean",
                                "label": "Unfurl media content"
                            },
                            {
                                "name": "icon_emoji",
                                "type": "text",
                                "label": "Icon emoji"
                            },
                            {
                                "name": "icon_url",
                                "type": "url",
                                "label": "Icon url"
                            },
                            {
                                "name": "username",
                                "type": "text",
                                "label": "User name"
                            },
                            {
                                "name": "channelType",
                                "type": "select",
                                "label": "Channel type",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "public",
                                        "private",
                                        "im",
                                        "mpim"
                                    ]
                                }
                            },
                            {
                                "name": "channel",
                                "type": "select",
                                "label": "Private channel",
                                "required": true
                            }
                        ]
                    }
                }
            ]
        },
        {
            "id": 3,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 7476976
            },
            "mapper": {
                "model": "o4-mini",
                "top_p": "1",
                "select": "chat",
                "messages": [
                    {
                        "role": "system",
                        "content": "You are a sales assistant. Analyze the lead and respond ONLY in this exact JSON format:\r\n{\"score\": 7, \"score_reason\": \"one sentence\", \"email_subject\": \"subject here\", \"email_body\": \"email here\"}\r\n\r\nScore 1-10 based on company size, message clarity, and urgency.\r\nEmail must be 80-100 words, use their first name, reference their industry, invite a discovery call.\n\nAlways end the email with:\r\nBest regards,\r\nBurhan Aslam\r\nSkill SYNC | Automation Agency\r\nwww.skillsync.com"
                    },
                    {
                        "role": "user",
                        "content": "Name: {{1.data.fields[1].value}}\r\nCompany: {{1.data.fields[3].value}}\r\nSize: {{1.data.fields[4].options[].text}}\r\nIndustry: {{1.data.fields[5].options[].text}}\r\nMessage: {{1.data.fields[6].value}}",
                        "imageDetail": "auto"
                    }
                ],
                "max_tokens": "4000",
                "temperature": "0.7",
                "n_completions": "1",
                "response_format": "text"
            },
            "metadata": {
                "designer": {
                    "x": 272,
                    "y": -138
                },
                "restore": {
                    "expect": {
                        "stop": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "o4-mini (system)Fast, cost-efficient reasoning model, succeeded by GPT-5 mini"
                        },
                        "select": {
                            "label": "Create a Chat Completion (GPT and o1 models)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "Developer / System"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "imageDetail": {
                                        "mode": "chose",
                                        "label": "Auto"
                                    },
                                    "imageInputType": {
                                        "mode": "chose",
                                        "label": "Empty"
                                    }
                                }
                            ]
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "tool_choice": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Text"
                        },
                        "reasoning_effort": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "OpenAI Lead Workflow"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability"
                        },
                        "type": "array",
                        "label": "Token Probability"
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "tool_choice",
                        "type": "select",
                        "label": "Tool Choice",
                        "validate": {
                            "enum": [
                                "none",
                                "auto",
                                "required"
                            ]
                        }
                    },
                    {
                        "name": "stop",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Output Tokens"
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": {
                                        "store": [
                                            {
                                                "label": "User",
                                                "value": "user",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    },
                                                    {
                                                        "name": "imageInputType",
                                                        "type": "select",
                                                        "label": "Image Input Type",
                                                        "options": [
                                                            {
                                                                "label": "URL",
                                                                "value": "url",
                                                                "nested": [
                                                                    {
                                                                        "help": "Make sure to use a publicly accessible URL.\nYou can test if your image is publicly accessible by opening the link in an incognito tab.",
                                                                        "name": "imageUrl",
                                                                        "type": "url",
                                                                        "label": "Image URL"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Image File",
                                                                "value": "file",
                                                                "nested": [
                                                                    {
                                                                        "name": "imageFile",
                                                                        "spec": [
                                                                            {
                                                                                "help": "Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`.",
                                                                                "name": "imageFilename",
                                                                                "type": "filename",
                                                                                "label": "Image Filename",
                                                                                "semantic": "file:name",
                                                                                "extension": [
                                                                                    "jpg",
                                                                                    "jpeg",
                                                                                    "png",
                                                                                    "webp",
                                                                                    "gif"
                                                                                ]
                                                                            },
                                                                            {
                                                                                "name": "imageData",
                                                                                "type": "buffer",
                                                                                "label": "Image Data",
                                                                                "semantic": "file:data"
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Image"
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                        "mappable": false
                                                    },
                                                    {
                                                        "help": "Recommended value: `Auto`",
                                                        "name": "imageDetail",
                                                        "type": "select",
                                                        "label": "Image Detail",
                                                        "options": [
                                                            {
                                                                "label": "Auto",
                                                                "value": "auto",
                                                                "default": true
                                                            },
                                                            {
                                                                "label": "High",
                                                                "value": "high"
                                                            },
                                                            {
                                                                "label": "Low",
                                                                "value": "low"
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "default": true
                                            },
                                            {
                                                "label": "Assistant",
                                                "value": "assistant",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    },
                                                    {
                                                        "mode": "edit",
                                                        "name": "tool_calls",
                                                        "spec": {
                                                            "spec": [
                                                                {
                                                                    "name": "type",
                                                                    "type": "hidden",
                                                                    "default": "function"
                                                                },
                                                                {
                                                                    "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                                                                    "name": "id",
                                                                    "type": "text",
                                                                    "label": "Tool call ID"
                                                                },
                                                                {
                                                                    "name": "function",
                                                                    "spec": [
                                                                        {
                                                                            "help": "The name of the function previously called.",
                                                                            "name": "name",
                                                                            "type": "text",
                                                                            "label": "Name",
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "help": "The arguments previously output by the AI.",
                                                                            "name": "arguments",
                                                                            "type": "text",
                                                                            "label": "Arguments",
                                                                            "required": true
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Function"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Tool Call"
                                                        },
                                                        "type": "array",
                                                        "label": "Tool Calls",
                                                        "labels": {
                                                            "add": "Add tool call"
                                                        },
                                                        "mappable": {
                                                            "help": "You can map the entire `Choices[]: Message.Tool Calls` array from a previous Create a Completion module here."
                                                        }
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Developer / System",
                                                "value": "system",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Tool",
                                                "value": "tool",
                                                "nested": [
                                                    {
                                                        "help": "The return of the function. This role should only be used when you have processed a previous function call and want to send the output of the function execution back to the AI.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content",
                                                        "required": true
                                                    },
                                                    {
                                                        "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                                                        "name": "tool_call_id",
                                                        "type": "text",
                                                        "label": "Tool Call ID.",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "reasoning_effort",
                        "type": "select",
                        "label": "Reasoning Effort",
                        "validate": {
                            "enum": [
                                "minimal",
                                "low",
                                "medium",
                                "high"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "result",
                        "type": "any",
                        "label": "Result"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "model",
                        "type": "text",
                        "label": "Model"
                    },
                    {
                        "name": "choices",
                        "spec": [
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            },
                            {
                                "name": "index",
                                "type": "number",
                                "label": "Index"
                            },
                            {
                                "name": "logprobs",
                                "type": "text",
                                "label": "Log Probs"
                            },
                            {
                                "name": "finish_reason",
                                "type": "text",
                                "label": "Finish Reason"
                            },
                            {
                                "name": "message",
                                "spec": [
                                    {
                                        "name": "role",
                                        "type": "text",
                                        "label": "Role"
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "tool_calls",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "function",
                                                "spec": [
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Name"
                                                    },
                                                    {
                                                        "name": "arguments",
                                                        "type": "text",
                                                        "label": "Arguments"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Function"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Tool Calls"
                                    },
                                    {
                                        "name": "refusal",
                                        "type": "text",
                                        "label": "Refusal"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "url_citation",
                                                "spec": [
                                                    {
                                                        "name": "end_index",
                                                        "type": "number",
                                                        "label": "End Index"
                                                    },
                                                    {
                                                        "name": "start_index",
                                                        "type": "number",
                                                        "label": "Start Index"
                                                    },
                                                    {
                                                        "name": "title",
                                                        "type": "text",
                                                        "label": "Title"
                                                    },
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "label": "URL"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "URL Citation"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Annotations"
                                    }
                                ],
                                "type": "collection",
                                "label": "Message"
                            }
                        ],
                        "type": "array",
                        "label": "Choices"
                    },
                    {
                        "name": "usage",
                        "spec": [
                            {
                                "name": "prompt_tokens",
                                "type": "number",
                                "label": "Prompt Tokens"
                            },
                            {
                                "name": "completion_tokens",
                                "type": "text",
                                "label": "Completion Tokens"
                            },
                            {
                                "name": "total_tokens",
                                "type": "number",
                                "label": "Total Tokens"
                            },
                            {
                                "name": "prompt_tokens_details",
                                "spec": [
                                    {
                                        "name": "cached_tokens",
                                        "type": "uinteger",
                                        "label": "Cached Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "image_tokens",
                                        "type": "uinteger",
                                        "label": "Image Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Prompt Tokens Details"
                            },
                            {
                                "name": "completion_tokens_details",
                                "spec": [
                                    {
                                        "name": "reasoning_tokens",
                                        "type": "uinteger",
                                        "label": "Reasoning Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    },
                                    {
                                        "name": "accepted_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Accepted Prediction Tokens"
                                    },
                                    {
                                        "name": "rejected_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Rejected Prediction Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Completion Tokens Details"
                            }
                        ],
                        "type": "collection",
                        "label": "Usage"
                    },
                    {
                        "name": "service_tier",
                        "type": "text",
                        "label": "Service Tier"
                    },
                    {
                        "name": "system_fingerprint",
                        "type": "text",
                        "label": "System Fingerprint"
                    }
                ],
                "advanced": true
            },
            "onerror": [
                {
                    "id": 11,
                    "module": "slack:CreateMessage",
                    "version": 4,
                    "parameters": {
                        "__IMTCONN__": 7478649
                    },
                    "mapper": {
                        "text": "⚠️ ERROR — OpenAI Module Failed\r\nModule: OpenAI Generate Completion\r\nError: {{error.message}}\r\nTime: {{now}}\r\nAction: Check OpenAI API and rerun manually.",
                        "parse": false,
                        "mrkdwn": true,
                        "channel": "C0B56CQ8916",
                        "channelType": "private",
                        "channelWType": "list"
                    },
                    "metadata": {
                        "designer": {
                            "x": 572,
                            "y": 162
                        },
                        "restore": {
                            "expect": {
                                "parse": {
                                    "mode": "chose"
                                },
                                "mrkdwn": {
                                    "mode": "chose"
                                },
                                "channel": {
                                    "mode": "chose",
                                    "label": "errors"
                                },
                                "link_names": {
                                    "mode": "chose"
                                },
                                "channelType": {
                                    "label": "Private channel"
                                },
                                "channelWType": {
                                    "label": "Select from the list"
                                },
                                "unfurl_links": {
                                    "mode": "chose"
                                },
                                "unfurl_media": {
                                    "mode": "chose"
                                },
                                "reply_broadcast": {
                                    "mode": "chose"
                                }
                            },
                            "parameters": {
                                "__IMTCONN__": {
                                    "data": {
                                        "scoped": "true",
                                        "connection": "slack2"
                                    },
                                    "label": "Slack AI Lead (leadsworkspacetalk.slack.com - burhanaslam944)"
                                }
                            }
                        },
                        "parameters": [
                            {
                                "name": "__IMTCONN__",
                                "type": "account:slack2,slack3",
                                "label": "Connection",
                                "required": true
                            }
                        ],
                        "expect": [
                            {
                                "name": "channelWType",
                                "type": "select",
                                "label": "Enter a channel ID or name",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "manualy",
                                        "list"
                                    ]
                                }
                            },
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            },
                            {
                                "name": "blocks",
                                "type": "text",
                                "label": "Blocks"
                            },
                            {
                                "name": "thread_ts",
                                "type": "text",
                                "label": "Thread message ID (time stamp)"
                            },
                            {
                                "name": "reply_broadcast",
                                "type": "boolean",
                                "label": "Reply broadcast"
                            },
                            {
                                "name": "link_names",
                                "type": "boolean",
                                "label": "Link names"
                            },
                            {
                                "name": "parse",
                                "type": "boolean",
                                "label": "Parse message text"
                            },
                            {
                                "name": "mrkdwn",
                                "type": "boolean",
                                "label": "Use markdown"
                            },
                            {
                                "name": "unfurl_links",
                                "type": "boolean",
                                "label": "Unfurl primarily text-based content"
                            },
                            {
                                "name": "unfurl_media",
                                "type": "boolean",
                                "label": "Unfurl media content"
                            },
                            {
                                "name": "icon_emoji",
                                "type": "text",
                                "label": "Icon emoji"
                            },
                            {
                                "name": "icon_url",
                                "type": "url",
                                "label": "Icon url"
                            },
                            {
                                "name": "username",
                                "type": "text",
                                "label": "User name"
                            },
                            {
                                "name": "channelType",
                                "type": "select",
                                "label": "Channel type",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "public",
                                        "private",
                                        "im",
                                        "mpim"
                                    ]
                                }
                            },
                            {
                                "name": "channel",
                                "type": "select",
                                "label": "Private channel",
                                "required": true
                            }
                        ]
                    }
                }
            ]
        },
        {
            "id": 4,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": 420367
            },
            "mapper": {
                "json": "{{3.result}}"
            },
            "metadata": {
                "designer": {
                    "x": 572,
                    "y": -138
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "OpenAI Lead Response"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "help": "",
                        "name": "score",
                        "type": "number",
                        "label": "Score",
                        "default": null,
                        "required": false
                    },
                    {
                        "help": "",
                        "name": "score_reason",
                        "type": "text",
                        "label": "Score reason",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "email_subject",
                        "type": "text",
                        "label": "Email subject",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "email_body",
                        "type": "text",
                        "label": "Email body",
                        "default": null,
                        "required": false,
                        "multiline": false
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "airtable:ActionUpdateRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 7477343
            },
            "mapper": {
                "id": "{{2.id}}",
                "base": "app8YZTl5LBCORHJl",
                "table": "tblwa2xWvXRHfS55A",
                "record": {
                    "fldJnrt4jomi9ukc4": "{{4.score}}",
                    "fldpcHHc3x1J9siuz": "Contacted"
                },
                "typecast": false,
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 872,
                    "y": 12
                },
                "restore": {
                    "expect": {
                        "base": {
                            "label": "Lead CRM"
                        },
                        "table": {
                            "label": "Leads"
                        },
                        "record": {
                            "nested": {
                                "fldGgp2IQ2cddauBU": {
                                    "mode": "chose"
                                },
                                "fldpcHHc3x1J9siuz": {
                                    "mode": "edit"
                                }
                            }
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "AI Lead Connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Record ID",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fldygKODxI3OWG1kt",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "fldE96QAh0Ie24LvW",
                                "type": "text",
                                "label": "Email"
                            },
                            {
                                "name": "fldsfGdWtenynWzLN",
                                "type": "text",
                                "label": "Company"
                            },
                            {
                                "name": "fldC0BJMkDstCv9Di",
                                "type": "text",
                                "label": "Company Size"
                            },
                            {
                                "name": "fldtUuf4Af9iW00lC",
                                "type": "text",
                                "label": "Industry"
                            },
                            {
                                "name": "fldQDXKn3JbE0Qi6j",
                                "type": "text",
                                "label": "Message"
                            },
                            {
                                "name": "fldJnrt4jomi9ukc4",
                                "type": "number",
                                "label": "Lead Score"
                            },
                            {
                                "mode": "edit",
                                "name": "fldpcHHc3x1J9siuz",
                                "type": "select",
                                "label": "Status"
                            },
                            {
                                "name": "fldmOvwY2ieS0ehhD",
                                "time": false,
                                "type": "date",
                                "label": "Submission Date"
                            },
                            {
                                "name": "fldGgp2IQ2cddauBU",
                                "type": "boolean",
                                "label": "AI Reply Sent"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    },
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Record ID",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fldygKODxI3OWG1kt",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "fldE96QAh0Ie24LvW",
                                "type": "text",
                                "label": "Email"
                            },
                            {
                                "name": "fldsfGdWtenynWzLN",
                                "type": "text",
                                "label": "Company"
                            },
                            {
                                "name": "fldC0BJMkDstCv9Di",
                                "type": "text",
                                "label": "Company Size"
                            },
                            {
                                "name": "fldtUuf4Af9iW00lC",
                                "type": "text",
                                "label": "Industry"
                            },
                            {
                                "name": "fldQDXKn3JbE0Qi6j",
                                "type": "text",
                                "label": "Message"
                            },
                            {
                                "name": "fldJnrt4jomi9ukc4",
                                "type": "number",
                                "label": "Lead Score"
                            },
                            {
                                "mode": "edit",
                                "name": "fldpcHHc3x1J9siuz",
                                "type": "select",
                                "label": "Status"
                            },
                            {
                                "name": "fldmOvwY2ieS0ehhD",
                                "time": false,
                                "type": "date",
                                "label": "Submission Date"
                            },
                            {
                                "name": "fldGgp2IQ2cddauBU",
                                "type": "boolean",
                                "label": "AI Reply Sent"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Name",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "Email",
                        "type": "text",
                        "label": "Email"
                    },
                    {
                        "name": "Company",
                        "type": "text",
                        "label": "Company"
                    },
                    {
                        "name": "Company Size",
                        "type": "text",
                        "label": "Company Size"
                    },
                    {
                        "name": "Industry",
                        "type": "text",
                        "label": "Industry"
                    },
                    {
                        "name": "Message",
                        "type": "text",
                        "label": "Message",
                        "multiline": true
                    },
                    {
                        "name": "Lead Score",
                        "type": "number",
                        "label": "Lead Score"
                    },
                    {
                        "name": "Status",
                        "type": "text",
                        "label": "Status"
                    },
                    {
                        "name": "Submission Date",
                        "time": false,
                        "type": "date",
                        "label": "Submission Date"
                    },
                    {
                        "name": "AI Reply Sent",
                        "type": "boolean",
                        "label": "AI Reply Sent"
                    }
                ]
            },
            "onerror": [
                {
                    "id": 14,
                    "module": "slack:CreateMessage",
                    "version": 4,
                    "parameters": {
                        "__IMTCONN__": 7478649
                    },
                    "mapper": {
                        "text": "⚠️ ERROR — Airtable Create Record Failed\r\nModule: Airtable Create Record\r\nError: {{error.message}}\r\nTime: {{now}}\r\nAction: Lead record was NOT created. Check Airtable connection.",
                        "parse": false,
                        "mrkdwn": true,
                        "channel": "C0B56CQ8916",
                        "channelType": "private",
                        "channelWType": "list"
                    },
                    "metadata": {
                        "designer": {
                            "x": 1172,
                            "y": 162
                        },
                        "restore": {
                            "expect": {
                                "parse": {
                                    "mode": "chose"
                                },
                                "mrkdwn": {
                                    "mode": "chose"
                                },
                                "channel": {
                                    "mode": "chose",
                                    "label": "errors"
                                },
                                "link_names": {
                                    "mode": "chose"
                                },
                                "channelType": {
                                    "label": "Private channel"
                                },
                                "channelWType": {
                                    "label": "Select from the list"
                                },
                                "unfurl_links": {
                                    "mode": "chose"
                                },
                                "unfurl_media": {
                                    "mode": "chose"
                                },
                                "reply_broadcast": {
                                    "mode": "chose"
                                }
                            },
                            "parameters": {
                                "__IMTCONN__": {
                                    "data": {
                                        "scoped": "true",
                                        "connection": "slack2"
                                    },
                                    "label": "Slack AI Lead (leadsworkspacetalk.slack.com - burhanaslam944)"
                                }
                            }
                        },
                        "parameters": [
                            {
                                "name": "__IMTCONN__",
                                "type": "account:slack2,slack3",
                                "label": "Connection",
                                "required": true
                            }
                        ],
                        "expect": [
                            {
                                "name": "channelWType",
                                "type": "select",
                                "label": "Enter a channel ID or name",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "manualy",
                                        "list"
                                    ]
                                }
                            },
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            },
                            {
                                "name": "blocks",
                                "type": "text",
                                "label": "Blocks"
                            },
                            {
                                "name": "thread_ts",
                                "type": "text",
                                "label": "Thread message ID (time stamp)"
                            },
                            {
                                "name": "reply_broadcast",
                                "type": "boolean",
                                "label": "Reply broadcast"
                            },
                            {
                                "name": "link_names",
                                "type": "boolean",
                                "label": "Link names"
                            },
                            {
                                "name": "parse",
                                "type": "boolean",
                                "label": "Parse message text"
                            },
                            {
                                "name": "mrkdwn",
                                "type": "boolean",
                                "label": "Use markdown"
                            },
                            {
                                "name": "unfurl_links",
                                "type": "boolean",
                                "label": "Unfurl primarily text-based content"
                            },
                            {
                                "name": "unfurl_media",
                                "type": "boolean",
                                "label": "Unfurl media content"
                            },
                            {
                                "name": "icon_emoji",
                                "type": "text",
                                "label": "Icon emoji"
                            },
                            {
                                "name": "icon_url",
                                "type": "url",
                                "label": "Icon url"
                            },
                            {
                                "name": "username",
                                "type": "text",
                                "label": "User name"
                            },
                            {
                                "name": "channelType",
                                "type": "select",
                                "label": "Channel type",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "public",
                                        "private",
                                        "im",
                                        "mpim"
                                    ]
                                }
                            },
                            {
                                "name": "channel",
                                "type": "select",
                                "label": "Private channel",
                                "required": true
                            }
                        ]
                    }
                }
            ]
        },
        {
            "id": 6,
            "module": "google-email:sendAnEmail",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 7477425
            },
            "mapper": {
                "to": [
                    "{{1.data.fields[2].value}}"
                ],
                "subject": "{{4.email_subject}}",
                "bodyType": "collection",
                "contents": [
                    {
                        "text": "{{4.email_body}}",
                        "image": {}
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 1172,
                    "y": -138
                },
                "restore": {
                    "expect": {
                        "cc": {
                            "mode": "chose"
                        },
                        "to": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "bcc": {
                            "mode": "chose"
                        },
                        "from": {
                            "mode": "chose"
                        },
                        "bodyType": {
                            "label": "Collection of contents (text, images, etc.)"
                        },
                        "contents": {
                            "mode": "chose",
                            "items": [
                                {
                                    "image": {
                                        "collapsed": true
                                    }
                                }
                            ]
                        },
                        "signature": {
                            "mode": "chose"
                        },
                        "attachments": {
                            "mode": "chose"
                        },
                        "emailHeaders": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-email"
                            },
                            "label": "CRM Lead Connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-email",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "to",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Recipient email address",
                            "required": true,
                            "validate": true
                        },
                        "type": "array",
                        "label": "To",
                        "required": true
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "rawHtml",
                                "collection"
                            ]
                        }
                    },
                    {
                        "name": "attachments",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "filename",
                                    "type": "filename",
                                    "label": "File name",
                                    "required": true,
                                    "semantic": "file:name"
                                },
                                {
                                    "name": "data",
                                    "type": "buffer",
                                    "label": "Data",
                                    "required": true,
                                    "semantic": "file:data"
                                }
                            ],
                            "type": "collection",
                            "label": "Attachment"
                        },
                        "type": "array",
                        "label": "Attachments"
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "From"
                    },
                    {
                        "name": "cc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Recipient email address"
                        },
                        "type": "array",
                        "label": "CC recipients"
                    },
                    {
                        "name": "bcc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Recipient email address"
                        },
                        "type": "array",
                        "label": "BCC recipients"
                    },
                    {
                        "name": "emailHeaders",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Key",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Email header"
                        },
                        "type": "array",
                        "label": "Additional email headers"
                    },
                    {
                        "name": "contents",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "text",
                                    "type": "text",
                                    "label": "Text"
                                },
                                {
                                    "name": "image",
                                    "spec": [
                                        {
                                            "name": "filename",
                                            "type": "filename",
                                            "label": "File name",
                                            "semantic": "file:name"
                                        },
                                        {
                                            "name": "data",
                                            "type": "buffer",
                                            "label": "Data",
                                            "semantic": "file:data"
                                        },
                                        {
                                            "name": "width",
                                            "type": "uinteger",
                                            "label": "Width"
                                        },
                                        {
                                            "name": "height",
                                            "type": "uinteger",
                                            "label": "Height"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Image"
                                }
                            ],
                            "type": "collection",
                            "label": "Content"
                        },
                        "type": "array",
                        "label": "Body contents"
                    },
                    {
                        "name": "signature",
                        "type": "select",
                        "label": "Signature content"
                    },
                    {
                        "name": "to",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Recipient email address",
                            "required": true,
                            "validate": true
                        },
                        "type": "array",
                        "label": "To",
                        "required": true
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "rawHtml",
                                "collection"
                            ]
                        }
                    },
                    {
                        "name": "attachments",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "filename",
                                    "type": "filename",
                                    "label": "File name",
                                    "required": true,
                                    "semantic": "file:name"
                                },
                                {
                                    "name": "data",
                                    "type": "buffer",
                                    "label": "Data",
                                    "required": true,
                                    "semantic": "file:data"
                                }
                            ],
                            "type": "collection",
                            "label": "Attachment"
                        },
                        "type": "array",
                        "label": "Attachments"
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "From"
                    },
                    {
                        "name": "cc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Recipient email address"
                        },
                        "type": "array",
                        "label": "CC recipients"
                    },
                    {
                        "name": "bcc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Recipient email address"
                        },
                        "type": "array",
                        "label": "BCC recipients"
                    },
                    {
                        "name": "emailHeaders",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Key",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Email header"
                        },
                        "type": "array",
                        "label": "Additional email headers"
                    },
                    {
                        "name": "contents",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "text",
                                    "type": "text",
                                    "label": "Text"
                                },
                                {
                                    "name": "image",
                                    "spec": [
                                        {
                                            "name": "filename",
                                            "type": "filename",
                                            "label": "File name",
                                            "semantic": "file:name"
                                        },
                                        {
                                            "name": "data",
                                            "type": "buffer",
                                            "label": "Data",
                                            "semantic": "file:data"
                                        },
                                        {
                                            "name": "width",
                                            "type": "uinteger",
                                            "label": "Width"
                                        },
                                        {
                                            "name": "height",
                                            "type": "uinteger",
                                            "label": "Height"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Image"
                                }
                            ],
                            "type": "collection",
                            "label": "Content"
                        },
                        "type": "array",
                        "label": "Body contents"
                    },
                    {
                        "name": "signature",
                        "type": "select",
                        "label": "Signature content"
                    }
                ]
            },
            "onerror": [
                {
                    "id": 12,
                    "module": "slack:CreateMessage",
                    "version": 4,
                    "parameters": {
                        "__IMTCONN__": 7478649
                    },
                    "mapper": {
                        "text": "⚠️ ERROR — Gmail Send Failed\r\nModule: Gmail Send Email\r\nError: {{error.message}}\r\nTime: {{now}}\r\nAction: Email was NOT sent. Check Gmail connection.",
                        "parse": false,
                        "mrkdwn": true,
                        "channel": "C0B56CQ8916",
                        "channelType": "private",
                        "channelWType": "list"
                    },
                    "metadata": {
                        "designer": {
                            "x": 1472,
                            "y": 162
                        },
                        "restore": {
                            "expect": {
                                "parse": {
                                    "mode": "chose"
                                },
                                "mrkdwn": {
                                    "mode": "chose"
                                },
                                "channel": {
                                    "mode": "chose",
                                    "label": "errors"
                                },
                                "link_names": {
                                    "mode": "chose"
                                },
                                "channelType": {
                                    "label": "Private channel"
                                },
                                "channelWType": {
                                    "label": "Select from the list"
                                },
                                "unfurl_links": {
                                    "mode": "chose"
                                },
                                "unfurl_media": {
                                    "mode": "chose"
                                },
                                "reply_broadcast": {
                                    "mode": "chose"
                                }
                            },
                            "parameters": {
                                "__IMTCONN__": {
                                    "data": {
                                        "scoped": "true",
                                        "connection": "slack2"
                                    },
                                    "label": "Slack AI Lead (leadsworkspacetalk.slack.com - burhanaslam944)"
                                }
                            }
                        },
                        "parameters": [
                            {
                                "name": "__IMTCONN__",
                                "type": "account:slack2,slack3",
                                "label": "Connection",
                                "required": true
                            }
                        ],
                        "expect": [
                            {
                                "name": "channelWType",
                                "type": "select",
                                "label": "Enter a channel ID or name",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "manualy",
                                        "list"
                                    ]
                                }
                            },
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            },
                            {
                                "name": "blocks",
                                "type": "text",
                                "label": "Blocks"
                            },
                            {
                                "name": "thread_ts",
                                "type": "text",
                                "label": "Thread message ID (time stamp)"
                            },
                            {
                                "name": "reply_broadcast",
                                "type": "boolean",
                                "label": "Reply broadcast"
                            },
                            {
                                "name": "link_names",
                                "type": "boolean",
                                "label": "Link names"
                            },
                            {
                                "name": "parse",
                                "type": "boolean",
                                "label": "Parse message text"
                            },
                            {
                                "name": "mrkdwn",
                                "type": "boolean",
                                "label": "Use markdown"
                            },
                            {
                                "name": "unfurl_links",
                                "type": "boolean",
                                "label": "Unfurl primarily text-based content"
                            },
                            {
                                "name": "unfurl_media",
                                "type": "boolean",
                                "label": "Unfurl media content"
                            },
                            {
                                "name": "icon_emoji",
                                "type": "text",
                                "label": "Icon emoji"
                            },
                            {
                                "name": "icon_url",
                                "type": "url",
                                "label": "Icon url"
                            },
                            {
                                "name": "username",
                                "type": "text",
                                "label": "User name"
                            },
                            {
                                "name": "channelType",
                                "type": "select",
                                "label": "Channel type",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "public",
                                        "private",
                                        "im",
                                        "mpim"
                                    ]
                                }
                            },
                            {
                                "name": "channel",
                                "type": "select",
                                "label": "Private channel",
                                "required": true
                            }
                        ]
                    }
                }
            ]
        },
        {
            "id": 7,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 1543,
                    "y": -93
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 8,
                            "module": "slack:CreateMessage",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 7478649
                            },
                            "filter": {
                                "name": "High Priority Lead",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{4.score}}",
                                            "b": "7",
                                            "o": "number:greaterorequal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "text": "🔥 *HIGH PRIORITY LEAD — Score {{4.score}}/10*\r\n\r\n*Name:* {{1.data.fields[1].value}}\r\n*Company:* {{1.data.fields[3].value}}\r\n*Industry:* {{1.data.fields[5].options[].text}}\r\n*Company Size:* {{1.data.fields[4].options[].text}}\r\n*Email:* {{1.data.fields[2].value}}\r\n\r\n*AI Reason:* {{4.score_reason}}\r\n\r\n✅ Personalized email sent automatically\r\n👉 *Follow up within 1 hour*",
                                "parse": false,
                                "mrkdwn": true,
                                "channel": "leads",
                                "channelWType": "manualy"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1813,
                                    "y": -255
                                },
                                "restore": {
                                    "expect": {
                                        "parse": {
                                            "mode": "chose"
                                        },
                                        "mrkdwn": {
                                            "mode": "chose"
                                        },
                                        "link_names": {
                                            "mode": "chose"
                                        },
                                        "channelWType": {
                                            "label": "Enter manually"
                                        },
                                        "unfurl_links": {
                                            "mode": "chose"
                                        },
                                        "unfurl_media": {
                                            "mode": "chose"
                                        },
                                        "reply_broadcast": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "slack2"
                                            },
                                            "label": "Slack AI Lead (leadsworkspacetalk.slack.com - burhanaslam944)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:slack2,slack3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "channelWType",
                                        "type": "select",
                                        "label": "Enter a channel ID or name",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "manualy",
                                                "list"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "blocks",
                                        "type": "text",
                                        "label": "Blocks"
                                    },
                                    {
                                        "name": "thread_ts",
                                        "type": "text",
                                        "label": "Thread message ID (time stamp)"
                                    },
                                    {
                                        "name": "reply_broadcast",
                                        "type": "boolean",
                                        "label": "Reply broadcast"
                                    },
                                    {
                                        "name": "link_names",
                                        "type": "boolean",
                                        "label": "Link names"
                                    },
                                    {
                                        "name": "parse",
                                        "type": "boolean",
                                        "label": "Parse message text"
                                    },
                                    {
                                        "name": "mrkdwn",
                                        "type": "boolean",
                                        "label": "Use markdown"
                                    },
                                    {
                                        "name": "unfurl_links",
                                        "type": "boolean",
                                        "label": "Unfurl primarily text-based content"
                                    },
                                    {
                                        "name": "unfurl_media",
                                        "type": "boolean",
                                        "label": "Unfurl media content"
                                    },
                                    {
                                        "name": "icon_emoji",
                                        "type": "text",
                                        "label": "Icon emoji"
                                    },
                                    {
                                        "name": "icon_url",
                                        "type": "url",
                                        "label": "Icon url"
                                    },
                                    {
                                        "name": "username",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "channel",
                                        "type": "text",
                                        "label": "Channel ID or name",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 10,
                            "module": "slack:CreateMessage",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 7478649
                            },
                            "filter": {
                                "name": "Normal Priority Lead",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{4.score}}",
                                            "b": "7",
                                            "o": "number:less"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "text": "📋 *New Lead — Score {{4.score}}/10*\r\n\r\n*Name:* {{1.data.fields[1].value}}\r\n*Company:* {{1.data.fields[3].value}}\r\n*Industry:* {{1.data.fields[5].options[].text}}\r\n*Email:* {{1.data.fields[2].value}}\r\n\r\n*AI Reason:* {{4.score_reason}}\r\n\r\n✅ Email sent automatically\r\n📅 Follow up when available",
                                "parse": false,
                                "mrkdwn": true,
                                "channel": "leads",
                                "channelWType": "manualy"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1772,
                                    "y": 162
                                },
                                "restore": {
                                    "expect": {
                                        "parse": {
                                            "mode": "chose"
                                        },
                                        "mrkdwn": {
                                            "mode": "chose"
                                        },
                                        "link_names": {
                                            "mode": "chose"
                                        },
                                        "channelWType": {
                                            "label": "Enter manually"
                                        },
                                        "unfurl_links": {
                                            "mode": "chose"
                                        },
                                        "unfurl_media": {
                                            "mode": "chose"
                                        },
                                        "reply_broadcast": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "slack2"
                                            },
                                            "label": "Slack AI Lead (leadsworkspacetalk.slack.com - burhanaslam944)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:slack2,slack3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "channelWType",
                                        "type": "select",
                                        "label": "Enter a channel ID or name",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "manualy",
                                                "list"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "blocks",
                                        "type": "text",
                                        "label": "Blocks"
                                    },
                                    {
                                        "name": "thread_ts",
                                        "type": "text",
                                        "label": "Thread message ID (time stamp)"
                                    },
                                    {
                                        "name": "reply_broadcast",
                                        "type": "boolean",
                                        "label": "Reply broadcast"
                                    },
                                    {
                                        "name": "link_names",
                                        "type": "boolean",
                                        "label": "Link names"
                                    },
                                    {
                                        "name": "parse",
                                        "type": "boolean",
                                        "label": "Parse message text"
                                    },
                                    {
                                        "name": "mrkdwn",
                                        "type": "boolean",
                                        "label": "Use markdown"
                                    },
                                    {
                                        "name": "unfurl_links",
                                        "type": "boolean",
                                        "label": "Unfurl primarily text-based content"
                                    },
                                    {
                                        "name": "unfurl_media",
                                        "type": "boolean",
                                        "label": "Unfurl media content"
                                    },
                                    {
                                        "name": "icon_emoji",
                                        "type": "text",
                                        "label": "Icon emoji"
                                    },
                                    {
                                        "name": "icon_url",
                                        "type": "url",
                                        "label": "Icon url"
                                    },
                                    {
                                        "name": "username",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "channel",
                                        "type": "text",
                                        "label": "Channel ID or name",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": true,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}